<p>Contador works!</p>

<div>
    <!-- 1. {{ valorContador }} → Interpolation binding -->
    <p>Contador: {{ valorContador }}</p>


    <!-- 2. (click)="incrementar()" → Event binding -->
    <button (click)="incrementar()">Incrementar</button>
    <button (click)="decrementar()">Decrementar</button>


    <app-messages [recibeMessage]="mensajeDesdeContador">
    </app-messages>

    <app-messages (mensajeDesdeMessages)="recibirMensaje($event)">
    </app-messages>

    <h2>El mensaje recibido desde el hijo es: </h2>
    <p>{{mensajeRecibido}}</p>
</div>