

<div>
    <form (submit)="onSubmit($event, nameInput, passwordInput)">
<!-- <form (submit)="onSubmit($event, nameInput.value, passwordInput.value)"></form> -->
        <label for="name">Nombre</label>
        <input
            #nameInput 
            type="text"
            name="name"
            id="name"
        />

        <br>

        <label for="password">Password</label>
        <input
            #passwordInput
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
        />

        <br>

        <button type="submit">Submit</button>

    </form>
</div>